{% extends 'base.html' %}

{% block content %}
        <div class="content">
        <div class="animated fadeIn">
            <div class="row">
              <div class="col">
                  <div class="card">
                      <div class="card-header">
                          <strong>Guruhni tahrirlash</strong>
                      </div>
                      <div class="card-body card-block">
                          <form action="{% url 'administrator:edit-group' group.id %}" method="post" enctype="multipart/form-data" class="form-horizontal">
                              {% csrf_token %}
                              <div class="row form-group">
                                <div class="col col-md-3"><label for="name" class=" form-control-label">
                                        Nomi</label></div>
                                <div class="col-12 col-md-9"><input value="{{ group.name }}" type="text" id="name" name="name"
                                                                     class="form-control"></div>
                              </div>

                              <div class="row form-group">
                                <div class="col col-md-3"><label for="teacher" class=" form-control-label">Ustoz</label></div>
                                <div class="col-12 col-md-9">
                                    <select id="teacher" name="teacher" class="form-control">
                                        {% for teacher in teachers %}
                                        <option {% if group.teacher.id == teacher.id %} selected {% endif %} value="{{ teacher.id }}">{{ teacher.first_name }} {{ teacher.last_name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                              </div>

                              <div class="row form-group">
                                <div class="col col-md-3"><label for="lesson" class=" form-control-label">Darslar</label></div>
                                <div class="col-12 col-md-9">
                                    <select id="lesson" name="lesson" class="form-control">
                                        {% for lesson in lessons %}
                                        <option {% if group.lesson.id == lesson.id %} selected {% endif %} value="{{ lesson.id }}">{{ lesson.name }} {{ lesson.type}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                              </div>

                              <div class="row form-group">
                                <div class="col col-md-3"><label for="status" class=" form-control-label">Status</label></div>
                                <div class="col-12 col-md-9">
                                    <select id="status" name="status" class="form-control">
                                        <option {% if group.status == '1' %} selected {% endif %} value="1">Not started</option>
                                        <option {% if group.status == '2' %} selected {% endif %} value="2">Active</option>
                                        <option {% if group.status == '3' %} selected {% endif %} value="3">Inactive</option>
                                    </select>
                                </div>
                              </div>

                              <div class="row form-group">
                                 <div class="col-4">
                                  <button type="submit" class="btn btn-primary btn-lg btn-block">
                                      Saqlash
                                  </button>
                                 </div>
                              </div>
                          </form>
                      </div>

                  </div>
              </div>
            </div>
        </div>
    </div>
{% endblock content %}