{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


{% endblock css %}

{% block content %}
<div class="content">
<div class="container mt-5">
        <!-- Tugmalar -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active text-primary" id="form1-tab" data-toggle="tab" href="#form1" role="tab" aria-controls="form1" aria-selected="false">Yangi o'quvchi yaratish</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-body" href="{% url 'administrator:add-student-group' selected_group.id %}">Guruhdan tanlash</a>
            </li>
        </ul>

        <!-- Formalar -->
        <div class="mt-3" id="myTabContent">
            <!-- Form 1 -->
            <div class="tab-pane" id="form1" role="tabpanel" aria-labelledby="form1-tab">
                <div class="">
            <div class="row">
              <div class="col">
                  <div class="card">
                      <div class="card-header">
                          <strong>O'quvchi yaratish</strong>
                      </div>
                      <div class="card-body card-block">
                          <form action="{% url 'administrator:create-student-group' selected_group.id %}" method="post" enctype="multipart/form-data" class="form-horizontal">
                              {% csrf_token %}

                              <div class="row form-group">
                                <div class="col col-md-3"><label for="first-name" class=" form-control-label">
                                    Ism</label></div>
                                <div class="col-12 col-md-9"><input type="text" id="first-name" name="first_name"
                                                                     class="form-control"></div>
                              </div>

                              <div class="row form-group">
                                <div class="col col-md-3"><label for="last-name" class=" form-control-label">
                                    Familiya</label></div>
                                <div class="col-12 col-md-9"><input type="text" id="last-name" name="last_name"
                                                                     class="form-control"></div>
                              </div>

                              <div class="row form-group">
                                <div class="col col-md-3"><label for="phone" class=" form-control-label">
                                    Phone</label></div>
                                <div class="col-12 col-md-9"><input type="text" id="phone" name="phone"
                                                                     class="form-control"></div>
                              </div>

                              <div class="row form-group">
                                 <div class="col-4">
                                  <button type="submit" class="btn btn-primary btn-lg btn-block">
                                      Saqlash
                                  </button>
                                 </div>
                              </div>

                          </form>
                      </div>

                  </div>
              </div>
            </div>
        </div>
            </div>

        </div>
    </div>
</div>
{% block js %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock js %}

{% endblock content %}